/* Global sets */

* {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	background: url(../images/bg.jpg);
}

.content-center {
    width: 1000px;
	margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.global-box  {
	background: #fff;
    width: 1170px;
	margin: 100px  auto 120px auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}



/* For Header*/



.header {
	height: 100px;
}

.header-left {
	float: left;
	width: 25%;
	padding-left: 30px;
	padding-top: 25px;
}

.header-right {
	float: right;
	width: 75%;
	text-align: right;
}

.global-menu {
	margin-top: 40px;
	margin-right: 35px;	
}

.global-menu  li {
	list-style: none;
	display: inline-block;
	text-decoration: none;
    margin-left: 25px;
}

    .global-menu  li:before {
        content: " ";
        margin-right: 25px;
        border-left: 1px solid #E7E7E7;  
    }

        .global-menu  li:first-child:before {
            border-left: none;
        }

.global-menu  li  a{
	text-decoration: none;
	color: #787878;
	font-weight: bold;
	font-size: 16;
}

.global-menu  li.active  a{
	color: #6DC5DD;
}



/* For top content */



.top-content {
    background: rgb(233,233,233);
    height: 400px;
}

.top-content-pic {
    float: left;
    width: 50%;
    height: 100%;
    background: url(../images/phone_pic.jpg) no-repeat;
    background-position: 140px 52px;
}



.top-content-info {
    float: left;
    width: 50%;
    padding-top: 90px;
}
  
.top-content-info .text {
    color: rgb(139,139,139);
    padding-bottom: 40px;
    width: 465px;
}

    .top-content-info .text p {
        color: rgb(0,61,72);
        padding-bottom: 25px;
        font-size: 25px;
    }

        .top-content-info .text h1 {
            color: rgb(0,61,72);
            padding-bottom: 40px;
            font-size: 40px;
        }

.top-content .button .btn {
    background: rgb(247, 116, 98);
    color: #fff;
    width: 130px;
    height: 45px;
    font-size: 16px;
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .top-content .button .btn:hover {
        background-color: rgb(115, 158, 108);
    }


/* Style 3-columns middle content (table style) */



.table-three-columns {
	display: table;
	width: 100%;
    height: 270px;
	table-layout: fixed;
	background: rgb(109,197,221);
}

.table-three-columns > div {
	display: table-row;
    
}

.table-three-columns > div  > div {
	display: table-cell;
}

.news-text-box {
    margin-top: 65px;
    width: 350px;
    height: 180px;
}

.news-text-box h2 {
	font-size: 16px;
	font-weight bold;
	color: #fff;
}

.news-text-box p {
	color: #fff;
	margin-bottom: 10px;
}

.read-more-link {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.read-more-link i {
	color: purple;
}

.sprite-pic {
    float: left;
	width: 63px;
	height: 63px;
	background: url(../images/col_pic_slider.png) no-repeat;
    margin: 60px 25px 145px 30px;
}

.sprite-flag {
	background-position: 0 0;
}

.sprite-foto {
	background-position: -63px 0;
}

.sprite-home {
	background-position: -126px 0;
}



/* For bottom content*/



.bottom-content {
    background: #fff;
    height: 575px;
}

/* Left side */
.bottom-content-lef {
    width: 70%;
    float: left;
    padding-left: 30px;
    padding-top: 60px;
}

.bottom-content-lef .top {
    padding-bottom: 60px;
}

.bottom-content-lef .top-info,
.bottom-content-lef .bottom-info {
    float: left;
    width: 525px;
    height: 195px;
    padding-left: 30px;
    padding-top: 10px;
}

.top-pic {
    float: left;
    width: 188px;
    height: 198px;
    background: url(../images/pic1.jpg) no-repeat;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bottom-pic {
    float: left;
    width: 188px;
    height: 198px;
    background: url(../images/pic2.jpg) no-repeat;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bottom-content .text {
    color: rgb(139,139,139);
    padding-bottom: 40px;
}
    .bottom-content .text h2 {
        color: rgb(0,61,72);
        padding-bottom: 30px;
    }

.bottom-content .button .btn {
    background: rgb(247, 116, 98);
    color: #fff;
    width: 70px;
    height: 38px;
/*    font-size: 14px;*/
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .bottom-content .button .btn:hover {
        background-color: rgb(115, 158, 108);
    }

/* Right side */
.bottom-content-right {
    width: 30%;
    float: left;
    padding-top: 60px;
    padding-left: 35px;
}

.bottom-content-right div {
    background: rgb(236,236,236);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 285px;
    height: 175px;
    margin-bottom: 20px;
    padding: 20px 25px 20px 25px;
    color: rgb(139,139,139);
}

.bottom-content-right div h4 {
    padding-top: 20px;
    color: rgb(247,116,98);
}



/* Footer */



.footer {
    background: rgb(247,116,98);
    height: 205px;
}

.footer > div {
    width: 655px;
    height: auto;
    color: #fff;
    text-align: center;
    margin-left: 260px;
    padding-top: 60px;
}
.footer > div h1 {
    padding-bottom: 25px;
}